@import '../../styles/variables';

.formik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
  background-color: rgba($color: $c-default, $alpha: 0.9);
  padding: 140px 0;
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;
  @media screen and (max-width: $screen) {
    top: 50px;
    padding: 10px;
  }
  @media screen and (max-width: $tablet) {
    top: 0;
    background-color: rgba($color: $c-default, $alpha: 0.9);
  }
  @media screen and (max-width: $phone) {
    background-color: $c-default;
  }
  &__title {
    border-bottom: 1px solid $c-gold;
    border-top: 1px solid $c-gold;
    padding-top: 5px;
    width: fit-content;
    font-size: $fs-menu;
    color: $c-white;
    margin-right: 30px;
    @media screen and (max-width: $phone) {
      margin-right: 0;
    }
  }
  &__subtitle {
    font-size: $fs-home-title;
    width: fit-content;
    color: $c-white;
    margin-top: 10px;
    @media screen and (max-width: $phone) {
      font-size: $fs-button;
    }
  }
}

.block {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin-top: 40px;
  @media screen and (max-width: $screen) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  @media screen and (max-width: $castom) {
    justify-content: flex-start;
  }
}

.button {
  cursor: pointer;
  display: block;
  max-width: 250px;
  padding: 20px 55px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: $fs-button;
  @media screen and (max-width: $desktop) {
    font-size: $fs-base;
    padding: 10px;
    max-width: 200px;
  }
}

.castom_screen {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $castom) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
  }
}
