* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: $fs-base;
  font-family: $f-base;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

div {
  width: 100%;
}

button {
  width: 100%;
  border: none;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &:not(.has-stroke) {
    stroke-width: 0;
  }
}

.wrapper {
  position: relative;
}