// * COLORS
$c-black: #000;
$c-white: #fff;
$c-default: #292E36;
$c-gold: #E1B168;
$c-space: #5C6168;
$c-silver: #555555;
$c-home-bc: #FFF8F5;


// * Font
$f-base: "Josefin Sans";

// * Font size
$fs-menu: 15px;
$fs-base: 16px;
$fs-text: 20px;
$fs-button: 22px;
$fs-subtitle: 30px;
$fs-home-title: 40px;
$fs-title: 100px;

// * Box Shadow
$bs-normal: 0 0 10px 25px rgba($c-black, 0.3);