// * COLORS
$c-black: #000;
$c-white: #fff;
$c-default: #000;
$c-gold: #E1B168;
$c-space: #5C6168;
$c-silver: #555555;
$c-home-bc: #FFF8F5;
$c-slider: #343942;


// * Font
$f-base: "Josefin Sans";

// * Font size
$fs-menu: 15px;
$fs-base: 16px;
$fs-text: 20px;
$fs-button: 22px;
$fs-slider-text: 24px;
$fs-subtitle: 30px;
$fs-home-title: 40px;
$fs-home-s-title: 70px;
$fs-title: 100px;

// * Box Shadow
$bs-normal: 0 0 10px 25px rgba($c-black, 0.3);

// * Media Queries: Breakpoints
$small: 320px;
$phone: 480px;
$tablet: 768px;
$castom: 915px;
$desktop: 1024px;
$screen: 1400px;
$large: 1920px;