@import '../../styles/variables';
.link {
  color: $c-white;
  text-decoration: none;
  font-size: $fs-text;
  &:hover {
    color: $c-gold;
  }
  &__gold {
    color: $c-gold;
  }
  &__button_black {
    background-color: $c-default;
    border: 2px solid $c-gold;
    text-decoration: none;
    color: $c-gold;
    padding: 20px;
    font-size: $fs-button;
    cursor: pointer;
    @media screen and (max-width: $desktop) {
      font-size: $fs-base;
      padding: 10px;
    }
  }
}
