@import '../../styles/variables';

.container {
  background-color: $c-default;
  position: sticky;
}

.nav_block {
  max-width: 1440px;
  background-color: $c-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 25px 40px;
  position: static;
  @media screen and (max-width: $desktop) {
    padding: 20px;
  }
}

.link {
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.icons {
  display: flex;
  width: fit-content;
}

.navigation {
  display: flex;
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.burger {
  // max-width: 30px;
  width: fit-content;
  display: none;
  @media screen and (max-width: $desktop) {
    display: block;
  }
}