@import '../../styles/variables';

.footer {
  width: 100%;
  background-color: $c-default;
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: fit-content;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: $desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &__logo {
    max-width: 380px;
    margin: 0 auto;
  }
  &__text {
    width: fit-content;
    font-size: $fs-text;
    color: $c-white;
    margin: 0 auto;
    margin-top: 10px;
    &_left {
      color: $c-white;
      font-size: $fs-menu;
      margin-top: 35px;
    }
    &_gold {
      color: $c-gold;
      font-size: $fs-menu;
    }
  }
  &__hashtag {
    color: $c-white;
    font-size: $fs-button;
  }
  &__subtitle {
    margin-top: 120px;
    padding-top: 5px;
    border-bottom: 1px solid $c-gold;
    border-top: 1px solid $c-gold;
    width: fit-content;
    font-size: $fs-menu;
    color: $c-white;
    @media screen and (max-width: $phone) {
      margin-right: 0;
    }
    &_right {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 5px;
      border-bottom: 1px solid $c-gold;
      border-top: 1px solid $c-gold;
      width: fit-content;
      font-size: $fs-menu;
      color: $c-white;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 130px 40px 0 40px;
  @media screen and (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.block {
  display: flex;
  max-width: 665px;
  margin-top: 30px;
  margin-bottom: 90px;
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.button {
  cursor: pointer;
  display: block;
  max-width: 200px;
  padding: 15px;
  font-size: $fs-text;
  @media screen and (max-width: $tablet) {
    font-size: $fs-base;
    padding: 10px;
    max-width: 200px;
    margin-top: 20px;
  }
}

.input {
  padding: 15px;
  background-color: rgba($color: $c-default, $alpha: 0.5);
  color: $c-white;
  font-size: $fs-text;
  border: 1px solid $c-space;
  width: 465px;
  @media screen and (max-width: $tablet) {
    padding: 10px;
    font-size: $fs-base;
    width: 265px;
  }
  &:last-child {
    margin-right: 0;
  }
  &::placeholder {
    color: $c-white;
    font-size: $fs-button;
  }
  &:invalid {
    border: 1px solid red;
  }
}

.images {
  display: flex;
  flex-direction: column;
}

.image1 {
  width: 25px;
  margin-left: 100%;
}

.image2 {
  width: 25px;
}

.image3 {
  width: 25px;
  margin-left: 35%;
}

.image4 {
  width: 25px;
  margin-left: 70%;
}
