@import '../../styles/variables';

.blog {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 145px 55px;
  @media screen and (max-width: $desktop) {
    padding: 55px;
  }
  @media screen and (max-width: $phone) {
    padding: 20px;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    border-bottom: 1px solid $c-gold;
    border-top: 1px solid $c-gold;
    padding-top: 5px;
    width: fit-content;
    font-size: $fs-menu;
    color: $c-default;
    margin-right: 30px;
    @media screen and (max-width: $phone) {
      margin-right: 20px;
    }
  }
  &__subtitle {
    font-size: $fs-home-title;
    width: fit-content;
    color: $c-default;
    margin-top: 10px;
    @media screen and (max-width: $phone) {
      font-size: $fs-button;
    }
  }
  &__text {
    width: fit-content;
    color: $c-default;
    font-size: $fs-text;
    margin-top: 15px;
    @media screen and (max-width: $phone) {
      font-size: $fs-base;
    }
  }
}

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  @media screen and (max-width: $screen) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: $phone) {
    margin-top: 20px;
  }
  &__block {
    max-width: 640px;
    border: 1px solid $c-silver;
    @media screen and (max-width: $screen) {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__images {
    height: fit-content;
  }
  &__button {
    max-width: 230px;
    position: absolute;
    top: 40%;
    left: 35%;
    @media screen and (max-width: $tablet) {
      max-width: 100%;
      top: 40%;
      left: 0;
      padding: 0 80px 0 80px;
    }
    @media screen and (max-width: $phone) {
      max-width: 100%;
      top: 40%;
      left: 0;
      padding: 0 30px 0 30px;
    }
  }
  &__text {
    padding: 50px;
  }
  &__title {
    display: flex;
  }
}

.block {
  position: relative;
}
