@import '../../styles/variables';

.banner {
  background-color: $c-default;
  padding: 75px 40px 0 40px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  &__block {
    display: flex;
    flex-direction: column;
    max-width: 655px;
  }
  &__title {
    color: $c-white;
    font-size: $fs-title;
  }
  &__text {
    color: $c-white;
    font-size: $fs-text;
    margin-top: 25px;
  }
  &__button {
    max-width: 230px;
    margin-top: 35px;
  }
  &__img {
    max-width: 595px;
    max-height: 740px;
    margin: auto;
  }
  &__frame {
    position: relative;
    border-left: 30px solid $c-space;
    border-right: 30px solid $c-space;
    padding: 30px 30px 0 30px;
    &_decor {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 310px;
      max-height: 310px;
    }
  }
  &__frame_line {
    max-width: 655px;
    height: 30px;
    background-color: $c-space;
    border: none;
    margin-left: 33px;
    margin-right: 33px;
  }
}