@import '../../styles/variables';

.slider {
  background-color: $c-default;
  padding: 100px 40px;
  width: 100%;
  @media screen and (max-width: $desktop) {
    padding: 40px;
  }
  &__block {
    margin-bottom: 40px;
  }
  &__title {
    border-bottom: 1px solid $c-gold;
    border-top: 1px solid $c-gold;
    font-size: $fs-menu;
    width: fit-content;
    padding-top: 5px;
    color: $c-white;
  }
  &__subtitle {
    font-size: $fs-home-title;
    margin-top: 10px;
    color: $c-white;
  }
  &__text {
    font-size: $fs-text;
    margin-top: 15px;
    color: $c-white;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.swiper {
  position: static;
  width: 100%;
  &__cart {
    background-color: $c-slider;
    max-width: 545px;
    padding: 0 50px;
    margin: 0 auto;
    margin-bottom: 100px;
    &_header {
      align-items: center;
      display: flex;
    }
  }
  &__avatar {
    position: relative;
    margin-right: 30px;
    max-width: 115px;
    &_dec {
      position: absolute;
      max-width: 30px;
    }
    &_img {
      border-radius: 50%;
    }
  }
  &__name {
    font-size: $fs-subtitle;
    color: $c-white;
  }
  &__city {
    font-size: $fs-text;
    color: $c-gold;
  }
  &__line {
    border: 1px solid $c-space;
    color: $c-space;
  }
  &__text {
    font-size: $fs-slider-text;
    margin-top: 30px;
    color: $c-white;
  }
}
